<!DOCTYPE html>
<html ng-app="corecolabApp" lang="pt" prefix="og: http://ogp.me/ns#">
<head>
    <title></title>
    <!-- -->
    <!-- BEGIN Open Graph Protocol >
    <meta property="og:title" content="corecolab.co" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://corecolab.github.io" />
    <meta property="og:image" content="url for image" />
    <!-- END Open Graph Protocol -->

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="build/css/built.css"/>

    <script type="text/javascript" src="build/js/built.js"></script>
</head>
<body>

<header id="lp-header">
</header>

<section id="who" class="lp-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="lp-section-title">WHO WE ARE</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto dolor doloremque eveniet inventore magni nemo nihil officiis, perferendis repellat reprehenderit, saepe totam vero voluptatibus voluptatum. Adipisci dolorem et repudiandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium asperiores aspernatur, consectetur consequuntur corporis dolore excepturi iusto laboriosam libero molestiae mollitia nobis, porro quaerat repellat sint soluta voluptas voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio porro possimus quae quis. Beatae consectetur dolores nihil quibusdam saepe. Distinctio est eum expedita ipsum maiores necessitatibus perferendis quia, reprehenderit tempora. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur distinctio dolor doloremque est ex nesciunt. A cum deleniti ducimus eligendi fugiat ipsa, ipsam labore minima natus neque quae voluptas voluptatibus!</p>
            </div>
        </div>
    </div>
</section>

<section id="what" class="lp-section" ng-controller="ServicesController as sc">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="lp-section-title">{{ sc.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="service in sc.services">
                <div class="service-cell">
                    <div class="service-cell-img"></div>
                    <div class="service-cell-details">
                        <p>{{ service.description }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="team" class="lp-section" ng-controller="TeamController as tc">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="lp-section-title">{{ tc.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="member in tc.members">
                <div class="team-cell">
                    <div class="team-cell-img"></div>
                    <div class="team-cell-details">
                        <div class="team-cell-name">{{ member.name }}</div>
                        <div class="team-cell-roel">{{ member.title }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolio" class="lp-section" ng-controller="PortfolioController as pc">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="lp-section-title">{{ pc.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="work in pc.works">
                <div class="portfolio-cell">
                    <div class="portfolio-work-name">{{ work.name }}</div>
                    <img ng-src="build/images/{{ work.img }}" alt="{{ work.name }}">
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="lp-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="copyright">
                    &copy; 2016 | Designed by <b>RafaelFeroli</b>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>