section {
    padding-bottom: 50px;
}

section .section-title {
    padding: 60px 0 100px 0;
    font-weight: 200;
}

header {
    background-image: url('../images/office-wp.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 700px;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(50, 20, 0, 0.6);
}

footer {
    background-color: #323232;
    color: #ffffff;
    text-align: center;
}

footer .copyright {
    padding: 50px 0;
}

/* NAV */

nav.ar-nav {
    position: relative;
}

nav.ar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

    position: absolute;
    right: 0;
    top: 20px;

    z-index: 2;
}

nav.ar-nav ul > li{
    display: inline-block;
    margin: 20px;
    color: #ffffff;
}

nav.ar-nav ul > li:hover{
    display: inline-block;
    margin: 20px;
    color: #ffffff;
    text-decoration: underline;
}


/* WHO WE ARE */
section#who {
    background-color: #F0F0F0;
}

/* WHAT WE DO */

section#what {
    background-color: #E6E6E6;
}

.service-collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
}

.service-collection .service-cell {
    display: flex;
    flex-direction: column;

    flex-basis: 33%;

    padding: 0 40px 100px 40px;
}

.service-collection .service-cell .service-image {
    width: 200px;
    height: 200px;
    background-color: #e0e0e0;

    align-self: center;
}

.service-collection .service-cell .service-content {
    display: flex;
    flex-wrap: wrap;

    padding: 20px 10px;
}


/* TEAM */
section#team {
    background-color: #C9C9C9;
}

.profile-collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
}

.profile-collection .profile-cell {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    padding: 0 40px 100px 40px;
}

.profile-collection .profile-cell .profile-image {
    width: 200px;
    height: 200px;
    background-color: #e0e0e0;

    display: flex;
    align-self: center;
}

.profile-collection .profile-cell .profile-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

/* Portfolio */
section#portfolio {
    background-color: #B4B4B4;
}

.works-collection {

}

.works-collection .work-cell {
    padding-bottom: 50px;
}

.works-collection .work-cell img {
    width: 100%;
}