header {
    background-image: url('../images/office-wp.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 700px;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(50, 20, 0, 0.6);
}

section#what {
    background-color: #333333;
    color: #ffffff;
}

section#contact {
    color: #ffffff;
    background-color: #e9901e;
}

nav.ar-nav {
    position: relative;
}

nav.ar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

    position: absolute;
    right: 0;
    top: 20px;

    z-index: 2;
}

nav.ar-nav ul > li{
    display: inline-block;
    margin: 20px;
    color: #ffffff;
}

nav.ar-nav ul > li:hover{
    display: inline-block;
    margin: 20px;
    color: #ffffff;
    text-decoration: underline;
}